body {
  background-color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 12px 0px;
}

#description-section {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  padding: 80px 40px;
  margin: 0 auto;
}

p.description.text, div.description {
  font-size: 20px;
}
